pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }

.json-string { color: green; }

.json-number { color: darkorange; }

.json-boolean { color: blue; }

.json-null { color: magenta; }

.json-key { color: red; }

.history-event h6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    background-color: #EEE;
    padding: .5rem;
    margin-bottom: 0;
}

.history-event h6 p {
    margin-bottom: 0;
}