
.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-column h1 {
    color: white;
}

.playing-surface {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 5rem;
}

.playing-surface .card {
    background-color: white !important;
}

.my-cards {
    position: relative;
}
.game-wrapper{
    padding: 0 1.5rem 4rem 1.5rem;
}

.waiting-screen {
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    flex-direction: column;
}

.waiting-screen h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Galada', cursive;
}

.waiting-screen p {
    font-size: 1.2rem;
    text-align: center;
}

.my-cards-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turnBadge {
    background-color: #eee;
}

.wrapper {
    background-color:red;
    border: 2px solid black;
    height: 230px;
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}


.next-round-available,
.game-won {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.next-round-available h1,
.game-won h1 {
    font-size: 4rem;
}

.next-round-available p,
.game-won p {
    font-size: 1.3rem;
    padding: .8rem 2rem;
}

.next-round-available button {
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}
