.lobby-container {
    padding: 1.5rem;
}

.player-name {
    background-color: #eee;
    border: 1px solid #333;
    border-radius: 0 0 8px 8px;
    margin-top: -1.5rem;
    display: block;
    padding: 4px 10px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 35%;
}

.no-games,
.no-games-available {
    background-color: #eee;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid #999;
}