
.card {
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: .8rem;
    height: 220px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;        
    position: relative;
    margin: 0 .5rem;
    box-shadow: 2px 2px 2px #333;
}

.card.back {
   background-color: #FFF !important;
   border: .9rem double #333;
   position: relative;
}

.card-empty {
    border: .9rem double #EEE;
}

.card.back:before {
    content: '🎉';
    display: flex;
    position: absolute;
    top: 0.5rem;
    left: -.5rem;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 0px #333;
    z-index: 2;
    font-weight: bold;
    font-family: cursive;
}

.card .value {
    font-weight: bold;
    font-size: 1.5rem;
}

.card img {
    height: 50px;
    width: 50px;
    display: block;
}

.card-display {
    position: absolute;
    top: 0rem;
    left: 1rem;
}

.card-display:last-child {
    bottom: 1rem;
    right: 1rem;
    left: auto;
    top: auto;
}