.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    text-align: center;
}

.start-container input {
    margin: 20px 0 20px 0;    
    height: 3rem;
    font-size: 1.4rem;
    padding-left: 1rem;
    border-radius: 8px 0 0 8px;
    border: 1px solid #333;
    padding-right: 1rem;
}

.flex-center {
    display: flex;
    align-items: center;
}

.start-container input:focus {
    outline: none;
}

.start-container input + button {
    border: 1px solid #333;
    border-radius: 0 8px 8px 0;
    border-left: none;
    height: 3rem;
    font-size: 1.4rem;
    background-color: limegreen;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;

}

.app-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 6rem;
    text-align: center;
    font-family: 'Galada', cursive;
    text-shadow: 5px 5px 4px darkgreen;
    margin-top: 1rem;
}