a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

nav {
    padding: 1rem;
    background: linear-gradient(rgba(0,231,61,1) 0%, rgba(0,134,13,1) 90%);
    color: white;
    box-shadow: 2px 2px 2px #999;
}

.navbar-light .navbar-brand {
    color: white;
    font-family: 'Galada', cursive;
    text-shadow: 2px 2px 2px #333;
    font-size: 2rem;
    line-height: 3rem;
}

.navbar-light .navbar-toggler {
    border-color: white;
    background-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav li.nav-item button,
.navbar-nav li.nav-item a {
    padding: .5rem 1rem !important;
    font-size: 1.5rem;
}

.navbar-nav li.nav-item button:hover,
.navbar-nav li.nav-item a:hover {
    color: #CCC !important;
}

.navbar-nav li.nav-item {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-nav li.nav-item button {
    background-color: transparent;
    border: none;
    color: white;

}